<div class="row">
	<div class="jumbotron">
	  <h2>Hi {{user.password.email}} you have "{{ todos.length }}" To-Do's</h2>
	  <br><br><br>
	  <p><a class="btn btn-primary btn-sm" ng-href="#/todo" role="button">Create To-Do's</a>
	  <a class="btn btn-primary btn-sm" ng-href="#/todo-done" role="button">View Done To-Do's</a>
	  <a class="btn btn-primary btn-sm" ng-href="#/todo-archive" role="button">View Archive To-Do's</a>
	  <a class="btn btn-primary btn-sm" ng-href="#/account-details" role="button">Update your account</a>
	  <a role="button" ng-click="logout()" class="btn btn-primary btn-sm">Logout</a></p>
	</div>
</div>
<p class="clearfix"></p>
<div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>
