<div class="row">
	<div class="col-lg-12 col-sm-12 col-xs-12 ">
		<div id="user-widget" class="list-group">
			<div class="list-group-item heading">
				<div class="text-wrap">
					<h4 class="list-group-item-heading">
						<h2>Done To-Do's <small>&mdash; {{ todos.length }} / {{ getTotalTodos() }} ({{ calculatePercent(todos.length) }}%)</small></h2>
					</h4>
				</div>
				<div class="clearfix"></div>
			</div>
<!--
			<li ng-repeat="todo in todos | filter: {Done: true} " href="#" class="list-group-item">
				<i ng-click="removeTodo($index)" ng-model="radioModel" class="fa fa-times fa-lg pull-right"></i>
				<input class="pull-right" type="checkbox" ng-click="changeState(todo.$id, todo.Done)" ng-checked="todo.Done == true ">
				<p ng-class="{strike: todo.Done}" class="list-group-item-text">{{ todo.Description }} {{ todo.Done }}</p>
			</li>
-->
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 col-xs-12 ">
	<div id="user-widget" class="list-group">
		<div class="list-group-item heading">
			<div class="text-wrap">
			<h4 class="list-group-item-heading">High Priority</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<li ng-repeat="todo in todos | filter:todo.Priority = 'High'| filter: {Done: true}	" href="#" class="list-group-item">
			<i ng-click="removeTodo(todo.$id)" ng-model="radioModel" class="fa fa-times fa-lg pull-right"></i>
			<input class="pull-right" type="checkbox" ng-click="changeState(todo.$id, todo.Done)" ng-checked="todo.Done == true ">
			<p ng-class="{strike: todo.Done}" class="list-group-item-text">{{ todo.Description }}</p>
		</li>
	</div>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12 ">
	<div id="user-widget" class="list-group">
		<div class="list-group-item heading">
			<div class="text-wrap">
			<h4 class="list-group-item-heading">Medium Priority</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<li ng-repeat="todo in todos | filter:todo.Priority = 'Medium' | filter: {Done: true}" href="#" class="list-group-item">
			<i ng-click="removeTodo(todo.$id)" ng-model="radioModel" class="fa fa-times fa-lg pull-right"></i>
			<input class="pull-right" type="checkbox" ng-click="changeState(todo.$id, todo.Done)" ng-checked="todo.Done == true ">
			<p ng-class="{strike: todo.Done}" class="list-group-item-text">{{ todo.Description }}</p>
		</li>
	</div>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12 ">
	<div id="user-widget" class="list-group">
		<div class="list-group-item heading">
			<div class="text-wrap">
			<h4 class="list-group-item-heading">Low Priority</h4>
			</div>
			<div class="clearfix"></div>
		</div>
		<li ng-repeat="todo in todos | filter:todo.Priority = 'Low' | filter: {Done: true}	" href="#" class="list-group-item">
			<i ng-click="removeTodo(todo.$id)" ng-model="radioModel" class="fa fa-times fa-lg pull-right"></i>
			<input class="pull-right" type="checkbox" ng-click="changeState(todo.$id, todo.Done)" ng-checked="todo.Done == true ">
			<p ng-class="{strike: todo.Done}" class="list-group-item-text">{{ todo.Description }}</p>
		</li>
	</div>
</div>
</div>


