<input type="text" name="todoName" size="30" placeholder="Enter your todo here" />
    Category:
    <select name="todoCategory">
        <option ng:repeat="category in categories" value="{{category}}" ng:required>{{category}}</option>
    </select>
    Priority:
    <select name="todoPriority">
        <option ng:repeat="priority in priorities" value="{{priority}}">{{priority}}</option>
    </select>
    <button ng:click="addTodo()">Add</button>
    
    <div class="tasks" ng:show="todos.$filter({done: false}).length > 0">
        <b>Tasks to do:</b>
        <ul ng:repeat="todo in todos.$filter({done: false})">
            <li>              
                <div ng:controller="TodoEditorController">
                    <button ng:click="todos.$remove(todo)">Delete</button>
                    <button ng:click="todo.done = true">Done</button>
                    
                    <span ng:hide="editorEnabled" ng:click="enableEditor()">
                        <b>{{todo.name}}</b> ({{todo.category}}) ({{todo.priority}}) 
                    </span>
                    
                    <span ng:show="editorEnabled">
                        <input type="text" size="30" name="todoName" ng:required />
                        <select name="todoCategory">
                            <option ng:repeat="category in categories" value="{{category}}">{{category}}</option>
                        </select>
                        <select name="todoPriority">
                            <option ng:repeat="priority in priorities" value="{{priority}}">{{priority}}</option>
                        </select>
                        
                        <button ng:click="save()">Ok</button>
                        <button ng:click="disableEditor()">Cancel</button>
                    </span>
                </div>
                
            </li>
        </ul>
    </div>
    
    <div class="tasks" ng:show="todos.$filter({done: true}).length > 0">
        <b>Done tasks:</b>
        <ul ng:repeat="todo in todos.$filter({done: true})">
            <li>
                <button ng:click="todos.$remove(todo)">Delete</button>
                <button ng:click="todo.done = false">Not done</button>
                
                <span class="todo done"><b>{{todo.name}}</b> ({{todo.category}}) ({{todo.priority}}) </span>
            </li>
        </ul>
    </div>
    
    <div class="stats">
        <div>All: {{todos.length}}</div>
        <div>Incomplete: {{todos.$filter({done: false}).length}}</div>
        <div>Done: {{todos.$filter({done: true}).length}}</div>
    </div>